@using Internet_banking.Core.Application.Enums;
@using Internet_banking.Core.Application.ViewModels.Products;
@model List<ProductsVM>;

@{
    ViewData["Title"] = "Ver productos";
}

<div class="row ">
    @foreach (var item in Model)
    {
        <div class=" col-4">
            <div class="card">
                <div class="card-header">
                    @item.TypeAccount.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Code</h5>
                    @if (item.IdAccount == (int)TypesAccountEnum.CuentaPrincipal || item.IdAccount == (int)TypesAccountEnum.Cuentadeahorro)
                    {
                        <p class="card-text">Saldo : @item.Amount</p>
                    }
                    else if (item.IdAccount == (int)TypesAccountEnum.Tarjetadecredito)
                    {
                        <p class="card-text">Limite de la tarjeta : @item.Amount</p>
                        <p class="card-text">Total Tomado : @item.Paid</p>
                    }
                    else if (item.IdAccount == (int)TypesAccountEnum.Prestamo)
                    {
                        <p class="card-text">Prestamo : @item.Amount</p>
                        <p class="card-text">Total pagado : @item.Paid</p>
                    }
                    <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id" asp-route-IdClient="@item.IdClient" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>

