@using Internet_banking.Core.Application.ViewModels.Users;
@using Internet_banking.Core.Application.Enums;
@model List<UserVM>;

@{
    ViewData["Title"] = "Usuarios";
}

@if (Model.Count == 0 || Model == null)
{


<h2>No hay usuario creado</h2>
}
else
{
<div class="card">
    <div class="card-header">
        Administrar usuarios
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end gap-3">
            <a asp-controller="Admin" asp-action="CreateClient" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Agregar un nuevo cliente</a>
            <a asp-controller="Admin" asp-action="CreateAdmin" class="btn btn-success btn-sm"><i class="bi bi-plus-circle"></i> Agregar un nuevo administrador</a>
        </div>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <td class="fw-bolder" style="">Acciones</td>
                </tr>
            </thead>
            <tbody>
                    @foreach (UserVM item in Model)
                    {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.Email</td>
                        <td>@(item.Roles.Count > 1 ? "SuperUsuario" : $"{item.Roles[0]}")</td>
                        <td>@(item.IsVerified == true ? "Activa" : "Inactiva")</td>                       
                        <td class="justify-content-end">                         
                            <a type="button" asp-controller="Admin" asp-action="IsVerified" class=" btn btn-success btn-sm" asp-route-id=@item.Id><i class="bi bi-pencil-square"></i> @(item.IsVerified == true ? "Inactivar" : "Activar")</a>
                            <a asp-controller="Admin" asp-action="@(item.IsClient?"UpdateClient":"UpdateAdmin")" class=" btn btn-primary btn-sm" asp-route-id=@item.Id><i class="bi bi-pencil-square"></i> Editar</a>
                        </td>
                    </tr>
                    }
                </tbody>
        </table>
    </div>
</div>
}

