@using Internet_banking.Core.Application.ViewModels.Money_Advance;
@{
    ViewData["Title"] = "Pagos";
}


<div class="container ">
    <h2 class="fw-bold text-center text-uppercase">Tipos de pagos</h2>
    <div class="row">
        <div class="col-6 p-2">
            <form method="post" asp-controller="Client" asp-action="ExpressPaid" class="form-control border border-1 border-radius border-dark shadow m-1" style="background-color:#0f3ab3">
                <h5 class="fw-bold fs-3 text-center m-2 text-light">Pago expreso</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group m-3">
                            <select name="IdAccountPaymentMaker" class="form-select fw-bold" asp-items="@(new SelectList(ViewBag.saveAccounts, "Id", "Code"))">
                                <option class="fw-bold text-light" value="0">Seleccione su cuenta de origen</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group m-3">
                            <label for="IdAccountToPay" class="form-label fw-bold text-light">Cuenta destino:</label>
                            <input name="IdAccountToPay" id="IdAccountToPay" class="form-control input-group input-group-sm bg-white" type="text" />
                        </div>
                        <div class="form-group m-3">
                            <label for="Amount" class="form-label fw-bold text-light">Monto:</label>
                            <input name="Amount" id="Amount" class="form-control input-group input-group-sm   bg-white" type="number" step="any" />
                        </div>
                        <div class="form-group m-3  text-center pt-2">
                            <button type="submit" class="btn btn-outline-secondary text-white fw-bolder text-light border border-white">Realizar Pago Expreso</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6 p-2">
            <form method="post" asp-controller="Client" asp-action="CreditCardPaid" class="form-control border border-1 border-radius border-dark shadow m-1" style="background-color:#0f3ab3">
                <h5 class="fw-bold fs-3 text-center m-2 text-light">Pago Tarjeta de credito</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group m-3">
                            <select name="IdCreditCard" class="form-select fw-bold"  asp-items="@(new SelectList(ViewBag.creditCard, "Id", "Code"))">
                                <option class="fw-bold text-light" value="0">Seleccione la tarjeta a pagar</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group m-3 mt-4">
                            <label for="origin" class="form-label fw-bold text-light"></label>
                            <select  name="IdSaveAccount" class="form-select fw-bold" asp-items="@(new SelectList(ViewBag.saveAccounts, "Id", "Code"))" >
                                <option class="fw-bold text-light" value="0">Seleccione su cuenta de origen</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group m-3">
                            <label for="Amount" class="form-label fw-bold text-light">Monto:</label>
                            <input name="Amount" id="Amount" class="form-control input-group input-group-sm   bg-white" type="number" step="any" />
                        </div>
                        <div class="form-group m-3  text-center pt-2">
                            <button type="submit" class="btn btn-outline-secondary text-white fw-bolder text-light border border-white">Pagar tarjeta</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6 p-2">
            <form method="post" asp-controller="Client" asp-action="DuebPaid" class="form-control border border-1 border-radius border-dark shadow m-1" >
                <h5 class="fw-bold fs-3 text-center m-2">Pago Prestamo</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group m-3">
                            <select name="IdDeubs" class="form-select fw-bold" asp-items="@(new SelectList(ViewBag.dubs, "Id", "Code"))">
                                <option class="fw-bold " value="0">Seleccione el prestamo a pagar</option>
                            </select>
                        </div>
                        <div class="form-group m-3 mt-4">
                            <label for="origin" class="form-label fw-bold text-light"></label>
                            <select name="IdSaveAccount" class="form-select fw-bold" asp-items="@(new SelectList(ViewBag.saveAccounts, "Id", "Code"))">
                                <option class="fw-bold " value="0">Seleccione su cuenta de origen</option>
                            </select>
                        </div>
                        <div class="form-group m-3">
                            <label for="Amount" class="form-label fw-bold ">Monto:</label>
                            <input  name="Amount" id="Amount" class="form-control input-group input-group-sm" type="number" step="any" />
                        </div>
                        <div class="form-group m-3  text-center pt-2">
                            <button type="submit" class="btn btn-success fw-bolder text-light border border-white">Saldar deuda</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6 p-2">
            <form method="post" asp-controller="Client" asp-action="BeneficiaryPaid" class="form-control border border-1 border-radius border-dark shadow m-1">
                <h5 class="fw-bold fs-3 text-center m-2 ">Pago Beneficiario</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group m-3">
                            <select name="IdBeneficiary" class="form-select fw-bold" asp-items="@(new SelectList(ViewBag.beneficiaries, "Id", "Beneficiary.client.Username"))">
                                <option class="fw-bold " value="0">Seleccione el beneficiario</option>
      
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group m-3 mt-4">
                            <label for="IdSaveAccount" class="form-label fw-bold text-light"></label>
                            <select name="IdSaveAccount" id="IdSaveAccount" class="form-select fw-bold" asp-items="@(new SelectList(ViewBag.saveAccounts, "Id", "Code"))">
                                <option class="fw-bold " value="0">Seleccione su cuenta de origen</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group m-3">
                            <label for="Amount" class="form-label fw-bold ">Monto:</label>
                            <input id="Amount" name="Amount"  class="form-control input-group input-group-sm" type="number" step="any"/>
                        </div>
                        <div class="form-group m-3  text-center pt-2">
                            <button type="submit" class="btn btn-success fw-bolder text-light border border-white">Validar cuenta</button>
                        </div>
                    </div>
                 </div>
            </form>
        </div>
    </div>
</div>